<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{title}}</h1>
            </div><!-- /.col -->


        </div><!-- /.row -->
        <hr>
        <div class="row">
            <div class="col s6">
                <a *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')"
                    [routerLink]="['/marcas-producto/create']" class="btn bg-gradient-success">
                    <i class="fas fa-plus-square"></i>&nbsp; Nuevo</a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listado</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive">

        <div *ngIf="marcas?.length == 0" class="alert alert-info alert-dismissible">
            <h5>
                <i class="icon fas fa-info"></i>
                Atención!
            </h5>

            No existe ninguna marca registrado en la base de datos!
        </div>

        <table id="marcas" class="table table-bordered table-striped text-nowrap" *ngIf="marcas?.length > 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Fecha Registro</th>
                    <th>Creador</th>
                    <th *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let marca of marcas">
                    <td>{{marca.idMarcaProducto}}</td>
                    <td>{{marca.marca}}</td>
                    <td>{{marca.fechaRegistro | date: 'dd/MM/yyyy - hh:mm'}}</td>
                    <td>{{marca.usuario.usuario}}</td>
                    <td *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')">
                        <button class="btn bg-gradient-info" type="button" name="edit"
                            [routerLink]="['/marcas-producto/create', marca.idMarcaProducto]">

                            <i class="fas fa-edit"></i>
                        </button>&nbsp;

                        <button class="btn bg-gradient-danger" type="button" name="delete" (click)="delete(marca)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Marca</th>
                    <th>Fecha Registro</th>
                    <th>Creador</th>
                    <th *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')">Opciones</th>
                </tr>
            </tfoot>
        </table>
        <br>
        <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->