.productos-listado {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 150px;
  padding-right: 25%;
  background-color: #4490e2;
}
